{% extends 'base.html'  %}



{% block content %}
><br><br><br><br>
<div class='container'>

<div class="card bg-info mb-3">

  <div class="card-header"><h2 class="text-light text-center">Active Tasks</h2></div>
       
    <div class="card-body bg-light table-responsive">
   
        <table class="table table-hover">
            <tbody> 
                {% for task in tasks %}
                  <tr>
                    <td>
                    
                    <div class='input-group-text'>
                     
                        <div class='input-group input-group-lg'>
                         <h3><input  type="checkbox">
                          <span>{{ task.T_name }}</span></h3>
                       </div>
                  
                    </div>
                    
                    </td>
                    
                
                    <td class='btn btn-sm btn-secondary'><i class="far fa-edit fa-2x"></i></td>
                    <td class='btn btn-sm btn-danger'><i class="far fa-trash-alt fa-2x"></i></td>   
                  </tr>     
                {% endfor %}                
            </tbody>
        </table>

    </div>
    <div class="card-footer bg-light"><form><button>add task</button></form></div>



  </div>

</div>

<hr>
{{ now }}

{% endblock content  %}

